// base eslint-config-react-app (https://github.com/facebook/create-react-app/tree/main/packages/eslint-config-react-app)
{
    "env": {
      "browser": true,
      "es2021": true,
      "jest": true
    },
    "parserOptions": {
      "ecmaFeatures": {
        "jsx": true
      },
      "ecmaVersion": 2021,
      "sourceType": "module"
    },
    "extends": [
      "eslint:recommended",
      "plugin:@typescript-eslint/recommended",
      "react-app",
      "react-app/jest",
      "prettier"
    ],
    "rules": {
      "react/jsx-uses-react": "off",
      "react/react-in-jsx-scope": "off",
      "react/prop-types": "off",
      "import/no-unresolved": "off",
      "import/no-duplicates": "error",
      "import/order": [
        "error",
        {
          "groups": [
            "builtin",
            "external",
            "parent",
            "sibling",
            "index",
            "object",
            "type"
          ],
          "pathGroups": [
            {
              "pattern": "{react,react-dom/**,react-router-dom}",
              "group": "builtin",
              "position": "before"
            },
            {
              "pattern": "@/**",
              "group": "parent",
              "position": "before"
            }
          ],
          "pathGroupsExcludedImportTypes": ["builtin"],
          "alphabetize": {
            "order": "asc"
          },
          "newlines-between": "always"
        }
      ]
    },
    "overrides": [
      {
        "files": ["./src/react-app-env.d.ts"],
        "rules": {
          "@typescript-eslint/triple-slash-reference": "off"
        }
      }
    ]
  }
  